<div id="moveForm">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <app-key-controls></app-key-controls>
    </div>
    <div class="col-xs-12 col-md-6">
      <form id="listForm" #f="ngForm" class="">
        <div class="form-group">
          <label>Put comma separated moves here and hit go!</label>
          <input type="text" class="form-control"
           name="newMoves" [(ngModel)]="newMoves"
           placeholder="must be in form: l,f,b,r">
        </div>
        <button class="btn btn-success" (click)="addMoves(f)">Go!</button>
      </form>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="dpad">
        <button id="f" class="btn btn-primary" (click)="bridge.addInput('f')">f</button>
        <button id="l" class="btn btn-primary pull-left" (click)="bridge.addInput('l')">l</button>
        <button id="r" class="btn btn-primary pull-right" (click)="bridge.addInput('r')">r</button>
        <div class="clearfix"></div>
        <button id="b" class="btn btn-primary" (click)="bridge.addInput('b')">b</button>
      </div>
    </div>
  </div>
  <hr>
  <app-admin></app-admin>
  <div class="clearfix"></div>
</div>
