#moveForm{
  max-width: 960px;
  margin: 0 auto 15px;
}
#moveForm > * {
  margin: initial auto;
}


form#listForm {
  margin: 0 auto;
  width: 70%;
}
form#listForm .btn,
form#listForm input{
  display: block;
  width: 100%;
}

.dpad{
  width: 100%;
  max-width: 106px;
  margin: 2% auto;
}
#f,#b{
  display: block;
  margin: 0 auto;
}
.btn{
  width: 35px;
}

.admin-container{
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.admin-container.open {
  opacity: 1;
  height: auto;
}

.admin-link {
  font-size: 12px;
  vertical-align: top;
  cursor: pointer;
  color: rgb(106, 110, 117);
}
