app-rover{
  position: absolute;
  background: yellow;
  transition: 1s ease-in-out;
}

.bounds{
  border: 1px solid green;
  position: relative;
  margin: 0 auto;
}


form{
  max-width: 480px;
  margin: 0 auto 15px;
}
form .btn,
form input{
  display: block;
  width: 100%;
}
